<header class="block fixed top-0 left-0 right-0 h-16 sm:h-28 md:h-44 z-50 bg-gradient-to-b from-bgColor to-transparent">
    <div class="container flex flex-col flex-wrap p-5 mx-auto md:items-end md:flex-row ">
        <nav class="flex flex-wrap items-center ml-auto font-goldplay text-base text-primary opacity-80">
            <a href="/" class="mr-6 text-md font-semibold hover:text-gray-800">Home</a>
            <a href="/contact" class="mr-6 text-md font-semibold hover:text-gray-800">Contact</a>
            <a href="/about" class="mr-6 text-md font-semibold  hover:text-gray-800">About</a>
        </nav>
    </div>
</header>